<% content_for(:head) do %>
<script>
$(document).ready(function(){
	$('#new_micropost').submit(function(){
		$('#update').addClass('disabled');
		$('#loading').show();
		$.ajax({
			url: $(this).attr('action'),
			type: 'POST',
			data: $(this).serialize(),
			global: false,
			complete: function(){
				$('#update').removeClass('disabled');
				$('#loading').hide();	
			}
		});
        return false;
	});
	$('textarea').countChars();
	$('a[title=Delete]').click(function(){
		$.ajax({
		    url: $(this).attr('href'),
            type: 'DELETE',
            global: false,
        });
        return false
    });
    setInterval(function() {   
        var id = parseInt($('.sbody.sbody-home').first().attr('id'));	
     	$.get('/home/refresh.json', "id=" + id, null, "json")
     	.done(function(data){
     		if((data.id) != 0){
     			$.get('/home/load_new_microposts.js', {new_id: (data.id + id), old_id: id}, null, "script");
     		}
     	});
        return false;
    }, 10000);


    $(window).data('ajaxready', true).scroll(function(e){
    	if ($(window).data('ajaxready') == false) return;

        if  ($(window).scrollTop() >= ($(document).height() - $(window).height())){
        	$('div.scroll').show();
        	$(window).data('ajaxready', false);

        	var id = $('.sbody.sbody-home:last').attr('id');	
	    	$.ajax({
				url: '/home/load_microposts_on_scroll',
				type: 'GET',
				data: { last_msg_id: id },
				global: false,
				complete: function(){
					$(window).data('ajaxready', true);
					$('div.scroll').hide();
				}
			});
        	
        }
	});
});
</script>
<% end %>
<div id="wrapper">
	<div class="feed">
		<div class="micropost">
		<h4>What's the latest? <span class="pull-right" id="loading" style="display: none"><small>posting</small><%= image_tag "294.gif" %></span></h4>
		<%= form_for(@micropost) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.text_area :content, cols: 45, rows: 3, class: "btn-block comment-box" %>
			<%= f.submit "Post", class: "btn", id: "update" %><span id="count" class="muted"></span>
		<% end %>
	</div>

		<% if Micropost.any? && !@micropost.errors.any? %>
			<%= render @microposts %>
		<% end %>
		<div class="scroll"><%= image_tag "159.gif" %></div>

	</div>
	<div class="feed-right">
		<p class="smart-title-1">
			Highest Rated
		</p>

		<ul class="thumbnails">
			<!-- @most_popular.photos.first.image.url(:hrated), alt: @most_popular.name, width: "130", height: "97" -->
			<li class="span2 pull-left">
				<%= link_to(image_tag("http://placekitten.com/130/130"), @most_popular, class: "thumbnail") %>
			</li>
			 <span class="span2 pull-right">
			 	<b><%= @most_popular.name %></b>
			 	<p class="small-font">You can use 'blocks' as an alternative to the string interpolation with correct usage </p>
			 </span>
		</ul>
		<p class="smart-title-1">
			Your Favourites
		</p>
		<div class="sbody">
			<div class="simage"><img src="http://placehold.it/50x50">
			</div>
			<div class="stext">
				Content for  class "stext" Goes Here
				<div class="sttime">
					2 seconds ago
				</div>
			</div>
		</div>

		<div class="sbody">
			<div class="simage"><img src="http://placehold.it/50x50">
			</div>
			<div class="stext">
				Content for  class "stext" Goes Here
				<div class="sttime">
					2 seconds ago
				</div>
			</div>
		</div>

		<div class="spacer"></div>
		<p class="smart-title-1">
			Newest Users
		</p>

		<ul class="thumbnails">
			<li class="span1">
				<a href="#" class="thumbnail"> <img alt="260x180" style="width: 50px; height: 50px;" src="http://placehold.it/50x50"> </a>
			</li>
			<li class="span1">
				<a href="#" class="thumbnail"> <img alt="260x180" style="width: 50px; height: 50px;" src="http://placehold.it/50x50"> </a>
			</li>
			<li class="span1">
				<a href="#" class="thumbnail"> <img alt="260x180" style="width: 50px; height: 50px;" src="http://placehold.it/50x50"> </a>
			</li>
			<li class="span1">
				<a href="#" class="thumbnail"> <img alt="260x180" style="width: 50px; height: 50px;" src="http://placehold.it/50x50"> </a>
			</li>
		</ul>

	</div>
	<div class="clear"></div>

	<div class="clear"></div>
</div>