<% provide(:title, "Sign In")%>
    <%= render 'layouts/header' %>
    <div id="wrapper">
        <%= render 'shared/slider' %>
      <div class="signup" style="margin-top:40px;">
        <div class="signup-box">
       	  <div class="signup-header">SIGN IN TO YOUR ACCOUNT</div>
          <div class="signup-content">
          	<%= form_for(:session, url: sessions_path) do |f| %>
          	<% if flash[:error] %>
          		<div class="alert alert-error"><a class="close" data-dismiss="alert" href="#">&times;</a> <%= flash[:error] %></div>
          	<% else if flash[:notice] %>
          		<div class="alert alert-warning"><a class="close" data-dismiss="alert" href="#">&times;</a> <%= flash[:notice] %></div>          	
          	<% end %>
          	<% end %>
              <table width="100%" cellpadding="3">
                <tr>
                  <td align="right" valign="middle"><%= f.label :email %></td>
                  <td valign="middle">:</td>
                  <td><%= f.text_field :email %></td>
                </tr>
                <tr>
                  <td align="right" valign="middle"><%= f.label :password %></td>
                  <td valign="middle">:</td>
                  <td><%= f.password_field :password %></td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                  <td><%= f.submit "Sign In", class: "btn" %></td>
                </tr>
              </table>
        	<% end %>
            <div class="spacer"></div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  