<% provide(:title, "Edit Profile") %>
<% content_for(:head)  do %>
  <script type="text/javascript">
  $(document).ready(function() {
  	$('#user_about').popover({
  		placement: 'right',
  		trigger: 'focus',
  		title: 'About You',
  		content: 'E.g - whats your personality, temperament, attitude towards life and people. What makes you stand out from the crowd? What do other people love about you? And what drives them crazy? etc ;-)',
  	});
  });
  </script>
<% end %>
<h3>Update your profile</h3>

<%= form_for @user, :html => { :multipart => true } do |f| %>
	<%= render 'shared/error_messages', object: f.object %>
	
	<%= f.label :name %>
	<%= f.text_field :name %>
	
	<%= f.label :username %>
	<%= f.text_field :username %>
	
	<%= f.label :email %>
	<%= f.text_field :email %>
	
	<%= f.label :gender %>
    <%= f.select(:gender, [['Your Gender',''], ['Male', 'male'], ['Female', 'female']]) %>	

    <%= f.label :about %>
    <%= f.text_area :about, cols: 45, rows: 5, class: "span5 comment-box", placeholder: "Write something about yourself" %>
	
	<%= f.label :password %>
	<%= f.password_field :password %>
	
	<%= f.label :password_confirmation %>
	<%= f.password_field :password_confirmation %><br />
	
	<%= f.fields_for :photos do |photo| %>
	   <% if photo.object.new_record? %>
	       <%= photo.file_field :image %>
	   <% end %>
	<% end %>
	
	 <%= f.fields_for :photos do |photo| %>
        
          <% unless photo.object.new_record? %>

                        <%= link_to(image_tag(photo.object.image.url(:small)), photo.object.image.url(:original)) %>
                        <%= photo.check_box :_destroy %>
                
          <% end %>        
        
     <% end %>
	
	<%= f.submit "Update Profile", class: "btn" %>
	
<% end %>
