<% provide(:title, "All users") %>
<% content_for(:head)  do %>
<script>
var jsonString = '<%= raw(@typeahead) %>';
var jsonObj = $.parseJSON(jsonString);
var sourceArr = [];
    
for(var i = 0; i < jsonObj.length; i++) {
    sourceArr.push(jsonObj[i].name)
}
        
$(document).ready(function() {
    $('#photo-info').stickyMojo({footerID: '.footer', contentID: '#profile-info'});
    $("#search").typeahead({
        source: sourceArr
    });
});
</script>
<% end %>
<div id="wrapper">
    <div id="profile">
        <div id="photo-info">
            <h4>Highest Rated!</h4>
            <div id="photo">
                <%= avator_for(@most_popular, @most_popular.gender) %>
                <div class="spacer"></div>
                <strong><%= link_to @most_popular.name, @most_popular %></strong>
                <span class="pull-right">Score: <b><%= percentagize(@most_popular.rate_average) %>%</b></span>
            </div>
        </div>
        <div id="profile-info">
            <span class="pull-left"><h4>All Users</h4> </span>
            <div class="clear"></div>
            <%= render @users %>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>



