<% provide(:title, "All users") %>
<% content_for(:head)  do %>
<script>
    $(document).ready(function() {
        $('#photo-info').stickyMojo({footerID: '.footer', contentID: '#profile-info'});
    });
</script>
<% end %>
<div id="wrapper">
    <div id="profile">
        <div id="photo-info">
            <h4>Highest Rated!</h4>
            <div id="photo">
                <%= avator_for(@most_popular, @most_popular.gender) %>
                <div class="spacer"></div>
                <%= link_to(raw("<i class='icon-share-alt icon-white'></i> view profile"), @most_popular, class: "btn btn-inverse btn-mini")  %>
                <span class="pull-right">Score: <%= percentagize(@most_popular.rate_average) %>%</span>
            </div>
        </div>
        <div id="profile-info">
            <span class="pull-left"><h4>All Users</h4> </span>
            <div class="span6 pull-right">
                <%= form_tag users_path, method: 'get', class: "form-inline pull-right" do %>
                    <%= text_field_tag :search, params[:search], placeholder: "Type a name to search" %>
                    <%= submit_tag "Search", class: 'btn', name: nil %>
                <% end %>
            </div>
            <div class="clear"></div>
            <%= render 'layouts/users'%>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>



