<% provide(:title, 'Sign Up') %>
<%= render 'layouts/header' %>
    <div id="wrapper">
      <div class="spacer"></div>
    	<%= image_tag "logo.png" %>
        <div class="signup">
        	<div class="signup-box">
        		<div class="signup-header">SIGN UP FOR AN ACCOUNT</div>
        		<div class="signup-content">
        			 <%= form_for(@user) do |f| %>
        			  <%= render 'shared/error_messages', object: f.object %>
        			    <table width="100%" cellpadding="3">
                			<tr>
                  				<td align="right" valign="middle"><%= f.label :Your_Names %></td>
                  				<td valign="middle">:</td>
                  				<td><%= f.text_field :name, placeholder: "e.g Martin Scott" %></td>
                			</tr>
                			<tr>
                  				<td align="right" valign="middle"><%= f.label :username %></td>
                  				<td valign="middle">:</td>
                  				<td><%= f.text_field :username, placeholder: "e.g Matscott" %></td>
                			</tr>
                			<tr>
                  				<td align="right" valign="middle"><%= f.label :email %></td>
                  				<td valign="middle">:</td>
                  				<td><%= f.text_field :email, placeholder: "e.g martin@gmail.com" %></td>
                			</tr>
                			<tr>
                  				<td align="right" valign="middle"><%= f.label :gender %></td>
                  				<td valign="middle">:</td>
                  				<td><%= f.select( :gender, [['Your Gender',''], ['Male', 'male'], ['Female', 'female']]) %></td>
                			</tr>
                			<tr>
                  				<td align="right" valign="middle"><%= f.label :password %></td>
                  				<td valign="middle">:</td>
                  				<td><%= f.password_field :password %></td>
                			</tr>
                			<tr>
                  				<td align="right" valign="middle"><%= f.label :password_confirmation, "Confirm Password" %></td>
                  				<td valign="middle">:</td>
                  				<td><%= f.password_field :password_confirmation %></td>
                			</tr>
                			<tr>
                  				<td>&nbsp;</td>
                  				<td>&nbsp;</td>
                  				<td><%= f.submit "Sign Me Up", class: "btn" %></td>
              			</table>
        			 <% end %>
            		<div class="spacer"></div>
          		</div>
        	</div>
      	</div>
      	<div class="clear"></div>
    </div>
</div>
</div>
