<% provide(:title, @user.name) %>
<% content_for(:head)  do %>
<style type="text/css">
	<% if @user.rated_by?(current_user) || current_user?(@user) %>
		.ajaxful-rating-wrapper {
			margin: 0 auto;
		}
	<% end %>
</style>
<script>
$(document).ready(function() {
    $("a.fancybox").fancybox({type: 'image'});
    $("#rating").popover({trigger: 'hover', placement: 'top'});
    $('#photo-info').stickyMojo({footerID: '.footer', contentID: '#profile-info'});
    $('#submit').raty(window.location.pathname + '/average.json');
    $('#new_comment').comment();
    $('#vote-up').vote();
    $('#vote-down').vote();
    $('.comments').hideDiv();
    $('#vote-up').disable('<%= @user.voted_for?(current_user) %>');
    $('#vote-down').disable('<%= @user.voted_against?(current_user) %>');
    $('textarea').countChars();
    $('#submit-comment').loadGif('<%= image_tag "loading.gif" %>');
    $('.chart').easyPieChart({
    	animate: 2000,
    	size: 180,
    	lineWidth: 5,
    	scaleColor: '#666',
    	barColor: '#993333'
    });
    $('#rate-box').click(function(){
      $('#submit').show();
    });
    $('.more').click(function(e){
      var id = $(this).attr('id');
      if(id){
      $.post($(this).attr('href'), "lastmsg=" + id, null, "script");
      return false;
    }
    $('.more').ajaxStart(function(){
      $('.gif').show();

      }).ajaxStop(function(){
      $('.gif').hide();
    });

  });
});

</script>
<% end %>
<div id="wrapper">
	<div id="profile">
		<div id="photo-info">
			<%= render "photo_likes" %>
		</div>
		<div id="profile-info" class="white-bg">
			<div class="profile-user-header">
				<%= @user.name %>
				<div class="rank">
					Rank #<%= @rank + 1 %>
				</div>
			</div>
			<div id="user-profile">
				<% if flash[:success] %>
				<div class="alert alert-success">
					<a class="close" data-dismiss="alert" href="#">&times;</a><%= flash[:success] %>
				</div>
				<% end %>

				<p class="smart-title">
					My Stats
				</p>
				<div id="chart-outer">
					<div class="chart" data-percent="<%= percentagize(@average) %>">
						<span class="big-rating"><%= percentagize(@average) %>%</span>
					</div>

				</div>
				<%= render "stats" %>

				<div id="rate-box">
					<%= render "rate" %>
				</div>

				<p class="text-success">Thanks for voting!!!</p>

				<div class="spacer"></div>

				<p class="smart-title">About Me</p>
				<%= render "about" %>

				<%= render "user_actions" %>

				<div class="spacer"></div>

				<p class="smart-title">My Photos</p>        
				<%= render "photos" %>

				<div class="spacer"></div>
				<p class="smart-title">Comments</p>
				<%= render "comments_stats" %>

				<div class="comments">
					<%= render @comments if @comments.any? %>
				</div>
				<%= render "comment_form" %>
			</div>

   
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>

</div>
