<% provide(:title, @user.name) %>
<% content_for(:head)  do %>
<script>
    $(document).ready(function() {
        $("a.fancybox").fancybox({type: 'image'});
        $("#rating").popover({trigger: 'hover', placement: 'top'});
        $('#photo-info').stickyMojo({footerID: '.footer', contentID: '#profile-info'});
        $('#submit').click(function() {
                location.reload();
        });
        $('#new_comment').submit(function(){
          $.post($(this).attr('action'), $(this).serialize(), null, "script");
          return false;
        });
        $('.stars-1').hover(
            function(){
                $('#description').html("<p>Not attractive</p>")
            },
            function(){
                $('#description').html("");
            });
        $('.stars-2').hover(
            function(){
                $('#description').html("<p>Respectable</p>")
            },
            function(){
                $('#description').html("");
            });

        $('.stars-3').hover(
            function(){
                $('#description').html("<p>Decent/Attractive</p>")
            },
            function(){
                $('#description').html("");
            });

        $('.stars-4').hover(
            function(){
                $('#description').html("<p>Girlfriend Material</p>")
            },
            function(){
                $('#description').html("");
            });
            
        $('.stars-5').hover(
            function(){
                $('#description').html("<p>Supper Hottie!</p>")
            },
            function(){
                $('#description').html("");
            });
        });

</script>
<% end %>
	<div id="wrapper">
    <div id="profile">
      <div id="photo-info">
          <% if current_user?(@user) %>
            <h4><%= @user.name %></h4>
          <% else %>
             <h4><%= @user.name %>'s profile</h4>
          <% end %>
      <div id="photo">
          <% if @profile_pic == nil %>
            <%= gravator_for @user %>
          <% else %>
            <%= image_tag @profile_pic.image.url(:medium) %> 
          <% end %>
      </div>
      <div class="btn-block" style="margin-bottom: 10px;">
        <% if !current_user?(@user) %>
          <%= link_to(raw('<i class="icon-envelope"></i> Send Message'), new_conversation_path, class: "btn") %>
        <% end %>
      </div>
    <div class="spacer clear"></div>
      <div class="rating">Quick Stats</div>
      <p><b>Member Since: </b><%= @user.created_at.strftime("%d %b %Y") %></p>
      <p>Last Seen: 8 hours ago</p>
      </div>
      <div id="profile-info">
      	<% if flash[:success] %>
      	   <div class="alert alert-success"><a class="close" data-dismiss="alert" href="#">&times;</a><%= flash[:success] %></div>
      	<% end %>
      	  <div class="rating">
            <span class="pull-left">Rating Stats</span>
            <span class="pull-right">Total Voters: <%= @user.total_rates %></span>
          <div class="clear"></div>
        </div>
        <table width="617">
          <tr>
          <td width="29%" height="130" align="center"><%= image_tag("big_star.png",width: 128, height: 128, alt: "star")%></td>
          <td width="71%" colspan="2" rowspan="2" valign="top"><table width="100%" cellpadding="5">
            <tr>
              <td width="36%"><strong>Total Votes</strong></td>
              <td width="64%" id="sum"><%= @user.rates_sum %></td>
            </tr>
            <tr>
              <td><strong>Profile Views</strong></td>
              <td>2536</td>
            </tr>
            <tr>
              <td><strong>Current Position</strong></td>
              <td>#<%= @rank + 1 %></td>
            </tr>
            <tr>
              <td><strong>Global Average</strong></td>
              <td><%= number_with_precision(@average, precision: 2) %> out of 5</td>
            </tr>
          </table>
<br />
          <% if current_user?(@user) %>
            <%= ratings_for @user, :static %>
          <% else %>
            <% if @user.rated_by?(current_user) %>
                <%= ratings_for @user %>
             <% else %>
                <p class="smart-title">Rate <%= @user.name %> <small class="pull-right" id="description"></small></p>
                <button class="pull-right btn" id="submit">submit ratings</button> 
                <%= ratings_for @user, :show_user_rating => true %>               
            <% end %>
            
          <% end %>   
          <br />   
          </tr>
          <tr>
            <td height="83" align="center" valign="middle"><span class="clear"><span class="big-rating"><%= percentagize(@average) %>%</span></span></td>
          </tr>
        </table>
        <div class="spacer"></div>
        <div class="rating">About Me</div>
    <p>Write a few words about yourself - your personality, temperament, attitude towards life and people. What makes you stand out from the crowd? What do other people love about you? And what drives them crazy?</p>
        <div class="spacer"></div>
      <div class="rating">All Photos</div>
      <% @user.photos.each do |photo| %>
        <%= link_to(image_tag(photo.image.url(:thumb)), photo.image.url(:original), class: "fancybox", rel: "gallery1") %>              
      <% end %>
    <div class="spacer"></div>        
      <hr />
      <h4>Leave a comment</h4>
      <%= form_for([@user,@comment]) do |f| %>
            <div class="alert alert-success" id="success" style="display: none;"><a class="close" data-dismiss="alert" href="#">&times;</a>Comment added!!</div>
        <%= f.text_area :content, cols: 45, rows: 3, class: "btn-block comment-box" %>
        <%= f.submit "Comment", class: "btn" %>
        <div class="pull-right">
          <%= image_tag "comment.png" %> 
          <span id="comments_count">
            <%= pluralize(@user.comments.count, "comment") %> so far
          </span>
        </div>
      <% end %>
      <% if @comments.any? %>
        <div class="comments">
            <%= render @comments %>
      <% else %>
        <p>No comments yet! be the first</p>
      <% end %>
      </div>
      
   
      </div>
    <div class="clear"></div>
    </div>
    <div class="clear"></div>

</div>
