<% provide(:title, @user.name) %>
<% content_for(:head)  do %>
<style type="text/css">
<% if @user.rated_by?(current_user) || current_user?(@user) %>
.ajaxful-rating-wrapper {
  margin: 0 auto;
}
<% end %>
</style>
<script>
    $(document).ready(function() {
        $("a.fancybox").fancybox({type: 'image'});
        $("#rating").popover({trigger: 'hover', placement: 'top'});
        $('#photo-info').stickyMojo({footerID: '.footer', contentID: '#profile-info'});
        $('#submit').click(function() {
          $('#rate-box').slideUp();  
          $('.text-success').slideDown(1000); 
          setTimeout(function(){
            window.location = "<%= request.url %>";
            $('.text-success').html("Refreshing results.........")
          }, 3000);        
        });
        $('#rate-box').click(function(){
          $('#submit').show();
        });
        $('#new_comment').submit(function(){
          $.post($(this).attr('action'), $(this).serialize(), null, "script");
          return false;
        });
        $('.stars-1').hover(function(){
          $('#description').html("<p>Not attractive</p>")
        },
        function(){
          $('#description').html("");
        });
        $('.stars-2').hover(
          function(){
              $('#description').html("<p>Respectable</p>");
          },
          function(){
              $('#description').html("");
          });

        $('.stars-3').hover(
          function(){
              $('#description').html("<p>Decent/Attractive</p>")
          },
          function(){
              $('#description').html("");
          });

        $('.stars-4').hover(
          function(){
              $('#description').html("<p>Girlfriend Material</p>")
          },
          function(){
              $('#description').html("");
          });
            
        $('.stars-5').hover(
          function(){
              $('#description').html("<p>Supper Hottie!</p>")
          },
          function(){
              $('#description').html("");
          });
          var y = $('.comments').text();
          if($.trim(y) == 0) {
            $('.comments').hide();
          }
          $('#submit-comment').click(function(){
            if(!$('#comment_content').val()){
              var x = $('#status');
              x.addClass('text-error').html('Please leave a comment!!').fadeIn();
            }
          });
          $('.chart').easyPieChart({
            animate: 2000,
            size: 180,
            lineWidth: 5,
            scaleColor: '#666',
            barColor: '#993333'
          });
          $('textarea').countChars();
    });

</script>
<% end %>
	<div id="wrapper">
    <div id="profile">
      <div id="photo-info">
          <% if current_user?(@user) %>
            <h4><%= @user.name %></h4>
          <% else %>
             <h4><%= @user.name %>'s profile</h4>
          <% end %>
      <div id="photo">
          <% if @profile_pic == nil %>
            <%= gravator_for @user %>
          <% else %>
            <%= image_tag @profile_pic.image.url(:medium) %> 
          <% end %>
      </div>
      <div class="btn-block" style="margin-bottom: 10px;">
        <% if !current_user?(@user) %>
          <%= link_to(raw('<i class="icon-envelope"></i> Message'), new_conversation_path, class: "btn", id:"send-message") %>
          <%= link_to(raw('<i class="icon-heart"></i> Add to favorites'), '#', class: "btn", id: "add-favorite") %>
        <% end %>
      </div>
    <div class="spacer clear"></div>

      </div>
      <div id="profile-info" class="white-bg">
        <div class="profile-user-header"><%= @user.name %><div class="rank">Rank #<%= @rank + 1 %></div></div>
        <div id="user-profile">
      	<% if flash[:success] %>
      	   <div class="alert alert-success"><a class="close" data-dismiss="alert" href="#">&times;</a><%= flash[:success] %></div>
      	<% end %>


        <p class="smart-title">My Stats</p>
        <div id="chart-outer">
        <div class="chart" data-percent="<%= percentagize(@average) %>">         
            <span class="big-rating"><%= percentagize(@average) %>%</span>
            </div>
        <% if current_user?(@user) %>
            <%= ratings_for @user, :static %>
          <% elsif @user.rated_by?(current_user)  %>
                <%= ratings_for @user %>
          <% end %>
        </div>
            <div class="span5" style="float:right">
                <ul class="nav nav-list">                  
                    <li><i class="icon-thumbs-up"></i> 45 likes <%= session[:logged_in] %></li>
                    <li class="divider"></li>
             <li><i class=" icon-info-sign"></i> <%= pluralize(@user.rates_sum, "vote") %> from <%= pluralize(@user.total_rates, "voter") %></li>
                     <li class="divider"></li>
                     <li><i class="icon-eye-open"></i> 17 profile views</li>              
                    <li class="divider"></li>
                    <li><i class=" icon-star"></i> Global Average: <%= number_with_precision(@average, precision: 2) %> out of 5</span></li>                    
                    <li class="divider"></li>
                    <li><i class="icon-user"></i> Member Since: <%= @user.created_at.strftime("%d %b %Y") %></li>
                    <li class="divider"></li>  
          </ul>
            </div>
            <div class="clear"></div>
            <p class="text-success">Thanks for voting!!!</p>
            <div id="rate-box">
          <% if !@user.rated_by?(current_user) && !current_user?(@user)  %>
                <p class="smart-title">Rate <%= @user.name %> <small class="pull-right" id="description"></small></p>
                <button class="pull-right btn" style="display: none" id="submit">submit ratings</button> 
                <%= ratings_for @user, :show_user_rating => true %>               
            <% end %> 
          </div>

        <div class="spacer"></div>
        <p class="smart-title">About Me</p>
    <p>Write a few words about yourself - your personality, temperament, attitude towards life and people. What makes you stand out from the crowd? What do other people love about you? And what drives them crazy?</p>    
        <div class="spacer"></div>
      <p class="smart-title">My Photos</p>
      <% @user.photos.each do |photo| %>
        <%= link_to(image_tag(photo.image.url(:thumb), width: 140, height: 140), photo.image.url(:original), class: "fancybox", rel: "gallery1") %>              
      <% end %>
    <div class="spacer"></div>        
      <hr />
      <h4>Leave a comment <small class="pull-right" id="status"></small></h4>
      <%= form_for([@user,@comment]) do |f| %>
        <%= f.text_area :content, cols: 45, rows: 3, class: "btn-block comment-box" %>
        <%= f.submit "Comment", class: "btn", id: "submit-comment" %> <span id="count" class="muted"></span>
        <div class="pull-right">
          <%= image_tag "comment.png" %> 
          <span id="comments_count">
            <%= pluralize(@user.comments.count, "comment") %> so far
          </span>
        </div>
      <% end %>
      <div class="comments">
        <%= render @comments if @comments.any? %>
      </div>
    </div>
  </div>
      
   
    </div>
    <div class="clear"></div>
    </div>
    <div class="clear"></div>

</div>
