<% for user in @users do %>
    <div id="user">
        <div id="image"><%= thumbnail_for(user, "avator") %></div>
        <div id="profile-summary">
            <p>
                <strong><%= user.name %></strong> <small>(<%= user.username %>)</small>
                <span class="pull-right small">Score: <b><%= percentagize(user.rate_average) %>%</b>&nbsp;&nbsp; Ranked: <b><%= (@rank.index(user.rate_average) + 1).ordinalize %></b></span>
            </p>
            <p>Load external resources when u need them keep mobile images size less than 1kb support the mobile experience well
            provide large click areas around your links use whitespace to </p>
            <p><%= link_to(raw("<i class='icon-share-alt'></i> view profile"), user, class: "btn")  %></p>
        </div>
        <div class="clear"></div>
    </div>
<% end %>
<%= will_paginate %>
