<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<%= render 'layouts/navigation' %>
		
				
				<%= yield %>
				
		<%= render 'layouts/footer' %>
	</div>
	 <%= javascript_include_tag "application" %>
</body>
</html>
