<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= ajaxful_rating_style %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<%= render 'layouts/navigation' %>
				
				<%= yield %>
				
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
